.popup__input-description {
    margin: 29.74px 36px 48px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    height: 28px;
    padding: 0;
}

@media screen and (max-width: 680px) {
    .popup__input-description {
        max-width: 200px;
        margin-left: 25px;
        margin-right: 25px;
    }
}