.popup__input-name {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    height: 28px;
    margin: 54px 36px 0;
    padding: 0;
}

@media screen and (max-width: 680px) {
    .popup__input-name {
        max-width: 200px;
        margin-left: 25px;
        margin-right: 25px;
    }
}
