.profile__description {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 25px;
    max-width: 318px;
    overflow-wrap: break-word;
}

@media screen and (max-width: 680px) {
    .profile__description {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        padding: 0;
        margin: 14px auto 0;
    }
}