.element__like-button {
    align-self: center;
    width: 100%;
    max-width: 21px;
    background-image: url("../../../images/Like.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0);
    width: 20.76px;
    height: 18.13px;
    border: none;
    padding: 0;
}

.element__like-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.element__like-button:focus {
    outline: none;
}